.container {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 300px;
  margin: 120px auto;
  text-align: center;
  border: 1px solid #ededed;
}

.img {
  float: left;
  width: 50px;
  height: 150px;
  margin: 0 -30px 0 30px;
}

.loginForm {
  flex-direction: column;
  align-items: center;
}

.loginForm > div {
  height: 100px;
  padding: 0;
  margin: 0;
}

.loginForm > div > input {
  width: 250px;
  height: 50px;
  margin: 5px;
  border: 1px solid #ededed;
  border-radius: 5px;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 20px auto;
}

.disabled {
  border: 0;
}
